/* ------------------------------------------------------------ *\
	# Lists
\* ------------------------------------------------------------ */

[class^="list"],
[class^="list"] > ul,
[class^="list"] > ol { list-style: none; position: relative; padding: 0; margin: 0; }

/* ------------------------------------------------------------ *\
	List Buttons
\* ------------------------------------------------------------ */

.list-buttons { }
.list-buttons ul { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
.list-buttons ul li { padding: 15px 26px; }

/* Mobile */

$breakpoint-mobile {
	.list-buttons ul { display: block; } 
	.list-buttons ul li { padding: 15px 5px; text-align: center; } 
	.list-buttons .btn { width: 100%; max-width: 400px; } 
}


