/* ------------------------------------------------------------ *\
	Gutenberg Block - Cover Image
\* ------------------------------------------------------------ */

.wp-block-cover-image,
.wp-block-cover { position: relative; min-height: 430px; padding: 16px; }

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2 { font-family: Times, "Times New Roman", serif; font-size: 16px; font-weight: bold; line-height: 1.25; padding: 0; color: #fff; }

.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-cover.alignleft,
.wp-block-cover.alignright { width: 100%; }

$breakpoint-tablet-portrait {
	.wp-block-cover-image,
	.wp-block-cover { padding: 16px 10px; }

	.wp-block-cover-image .wp-block-cover-image-text,
	.wp-block-cover-image .wp-block-cover-text,
	.wp-block-cover-image h2,
	.wp-block-cover .wp-block-cover-image-text,
	.wp-block-cover .wp-block-cover-text,
	.wp-block-cover h2 { font-size: 18px; max-width: 100%; }

	.wp-block-cover-image.alignleft,
	.wp-block-cover-image.alignright,
	.wp-block-cover.alignleft,
	.wp-block-cover.alignright { padding: 16px 32px; }

	.wp-block-cover-image.alignfull,
	.wp-block-cover.alignfull { padding-left: 90px; padding-right: 90px; }

	.wp-block-cover-image.alignfull .wp-block-cover-image-text,
	.wp-block-cover-image.alignfull .wp-block-cover-text,
	.wp-block-cover-image.alignfull h2,
	.wp-block-cover.alignfull .wp-block-cover-image-text,
	.wp-block-cover.alignfull .wp-block-cover-text,
	.wp-block-cover.alignfull h2 { padding: 0; }
}
