/* ------------------------------------------------------------ *\
	Gutenberg Block - Code
\* ------------------------------------------------------------ */

.wp-block-code { border-radius: 0; }

.wp-block-code code { font-size: 16px; white-space: pre-wrap; word-break: break-word; }
