/* ------------------------------------------------------------ *\
	Gutenberg Block - Gallery
\* ------------------------------------------------------------ */

.wp-block-gallery { list-style-type: none; padding-left: 0; }

.wp-block-gallery .blocks-gallery-image:last-child,
.wp-block-gallery .blocks-gallery-item:last-child { margin-bottom: 16px; }

.wp-block-gallery figcaption a { color: #fff; }
